body {
  padding-top: 75px;
  background-color: #f2f2f2;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
}

.login-content {
  width: 500px;
  margin: auto;
}

.login-panel {
  margin: unset;
}