<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <p class="bold text-left">Poniedziałek - Piątek, 8:00 - 18:00 </p>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <p class="bold text-right">Zadzwoń +48 787 123 456</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <p class="bold text-left">Sobota, 8:00 - 14:00 </p>
                        </div>
                        <!--TODO: poprawic email na imie i nazwisko-->
                        <div class="col-sm-6 col-md-6">
                            <p sec:authorize="isAuthenticated()" class="bold text-right">
                                Zalogowany: <span sec:authentication="name"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container navigation">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html" style="padding-top: 0">
                        <img src="img/logo.png" alt="" width="60" height="60"/>
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/login}">Strona Główna</a></li>
                        <li><a th:href="@{/index#service}">Przeglądy</a></li>
                        <li><a th:href="@{/index#facilities}">Sprzęt</a></li>
                        <li><a th:href="@{/index#testimonial}">Opinie klientów</a></li>
                        <li><a th:href="@{/index#pricing}">Cennik</a></li>
                        <li><a th:href="@{/index#kontakt}">Kontakt</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    class="badge custom-badge red pull-right">Zarejestruj się!</span>Profil klienta<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/index}">Logowanie</a></li>
                                <li sec:authorize="hasRole('USER')"><a th:href="@{/cars}">Twoje pojazdy</a></li>
                                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/user}">Zarządzaj kontami</a></li>
                                <li sec:authorize="isAuthenticated()"><a th:href="@{/calendar}">Kalendarz wizyt</a></li>
                                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- ALERTS -->
        <div id="postResultDiv" class="alerts-window"></div>
    </div>
</body>
</html>