<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{layout}">>
<head>
    <title>Wybór Admina</title>
</head>
<body>
<div layout:fragment="content">
    <div id="wrapper">
        <!-- Section: (User) Cars -->
        <section id="admin-selection" class="admin-selection">
            <div class="intro-content gray-bc-background">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-wrapper">
                                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">

                                    <div class="panel panel-skin">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><span class="fa fa-pencil-square-o"></span>
                                                Użytkownicy portalu
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table datatable">
                                                <thead>
                                                <tr>
                                                    <th>Imię</th>
                                                    <th>Nazwisko</th>
                                                    <th>Email</th>
                                                    <th>Numer telefonu</th>
                                                    <th>Dodaj Admina</th>
                                                    <th>Usuń użytkownika</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="iuser : ${users}">
                                                    <td th:text="${iuser.firstname}"></td>
                                                    <td th:text="${iuser.lastname}"></td>
                                                    <td th:text="${iuser.email}"></td>
                                                    <td th:text="${iuser.phone}"></td>
                                                    <td><form role="form" class="lead" id="addAdminForm"
                                                          th:action="@{/admin/add}" th:object="${user}"
                                                          method="post">
                                                        <select th:field="*{email}" class="form-control input-md"
                                                                style="display: none">
                                                            <option th:value="${iuser.email}"></option>
                                                        </select>
                                                        <input type="submit" value="Dodaj"
                                                               class="btn btn-skin btn-block btn-lg"/>

                                                    </form></td>
                                                    <td><form role="form" class="lead" id="deleteUserForm"
                                                          th:action="@{/admin/delete/user}" th:object="${user}"
                                                          method="post">
                                                        <select th:field="*{email}" class="form-control input-md"
                                                                style="display: none">
                                                            <option th:value="${iuser.email}"></option>
                                                        </select>
                                                        <input class="btn btn-skin btn-block btn-lg"
                                                               type="submit" value="Usuń"/>
                                                    </form></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>