<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{layout}">>
<head>
    <title>Rejestracja</title>

    <!-- Calendar links -->
    <link th:href="@{/packages/core/main.css}" rel='stylesheet'/>
    <link th:href="@{/packages/daygrid/main.css}" rel='stylesheet'/>
    <link th:href="@{/packages/timegrid/main.css}" rel='stylesheet'/>
    <link th:href="@{/packages/list/main.css}" rel='stylesheet'/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div layout:fragment="content">
    <div id="wrapper">
        <!-- Section: visit -->
        <!-- Section: calendar -->
        <section id="calendar-box" class="calendar-box">
            <div class="intro-content" style="background: unset">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-wrapper">
                                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">

                                    <div class="panel panel-skin">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><span class="fa fa-pencil-square-o"></span>
                                                Umów wizytę
                                                <small> Nie czekaj w kolejce!</small>
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <form role="form" class="lead" id="visitForm"
                                                  th:action="@{/calendar}" th:object="${addVisit}" method="post">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                                        <div class="form-group">
                                                            <label>Użytkownik</label>
                                                            <input type="text" name="mark" id="mark"
                                                                   class="form-control input-md" th:value="${user}"
                                                                    disabled>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                                        <div class="form-group">
                                                            <label>Pojazd</label>
                                                            <select th:field="*{carId}" class="form-control input-md">
                                                                <option th:each="car:${userCars}"
                                                                        th:value="${car.id}"
                                                                        th:text="${car.mark}+' '+${car.model}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                                        <div class="form-group">
                                                            <label>Data wizyty</label>
                                                            <input type="datetime-local" name="car_year" id="car_year"
                                                                   class="form-control input-md" th:field="*{visitDate}">
                                                        </div>
                                                    </div>
                                                </div>

                                                <input type="submit" value="Rezerwuj"
                                                       id="visit-submit-btn" class="btn btn-skin btn-block btn-lg">

                                                <p class="lead-footer">* Pojazd zostanie dodany do twojego konta</p>

                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-wrapper">
                                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">

                                    <div id='calendar'></div>
                                    <div id="eventContent" title="Event Details" class="panel panel-skin" style="display:none;">
                                        Start: <span id="startTime"></span><br>
                                        End: <span id="endTime"></span><br><br>
                                        <p id="eventInfo"></p>
                                        <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script th:src="@{/js/private/calendar.js}"></script>

    <!-- Calendar scripts -->
    <script th:src="@{/packages/core/main.js}"></script>
    <script th:src="@{/packages/interaction/main.js}"></script>
    <script th:src="@{/packages/daygrid/main.js}"></script>
    <script th:src="@{/packages/timegrid/main.js}"></script>
    <script th:src="@{/packages/list/main.js}"></script>

    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
</div>
</body>
</html>
