<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SpringBoot
        Thymeleaf</title>
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}"
          href="/assets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/font-awesome-4.5.0/css/font-awesome.min.css}"
          href="/assets/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}"
          href="/assets/css/styles.css"/>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">SpringBoot
                Thymeleaf</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
    </nav>

    <div class="container">

        <div layout:fragment="content">
            <!-- Your Page Content Here -->
        </div>

    </div>

   <!-- <div class="footer">
        <h1>
            <a href="http://www.javaguides.net/p/spring-boot-tutorial.html">
                Spring Boot Tutorial</a>
        </h1>
    </div>-->



 <!--   <div sec:authorize="hasRole('ADMIN')">
        <div th:replace="fragments/footer ::  footer-admin">
            &copy; 2016 The Static Templates ADMIN
        </div>
    </div>
    <div sec:authorize="hasRole('USER')">
        <div th:replace="fragments/footer ::  footer">
            &copy; 2016 The Static Templates USER
        </div>
    </div>-->

    <!-- LUB -->

   <!-- <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users.
    </div>-->

    Logged user: <span sec:authentication="name">Bob</span><br/>
    Roles: <span sec:authentication="authorities">[ROLE_USER, ROLE_ADMIN]</span>

    <div th:replace="fragments/footer :: ${#authorization.expression('hasRole(''ADMIN'')')} ? 'footer-admin' : 'footer'">
        <h1>&copy; 2016 The Static Templates</h1>
    </div>

    <script th:src="@{'/assets/js/jquery-2.1.4.min.js'}"></script>
    <script th:src="@{'/assets/bootstrap/js/bootstrap.min.js'}"></script>

</body>
</html>