<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Layout Model">
    <meta name="author" content="Arkadiusz Michalik">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>

    <link rel="icon" type="image/jpg" href="img/logo-title.jpg"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Diagnostyka</title>

    <!-- css -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/cubeportfolio/css/cubeportfolio.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/nivo-lightbox.css}" rel="stylesheet"/>
    <link th:href="@{/css/nivo-lightbox-theme/default/default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/owl.carousel.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/owl.theme.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/animate.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/bodybg/bg1.css}" id="bodybg" rel="stylesheet" type="text/css"/>
    <link th:href="@{/color/default.css}" id="t-colors"  rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <!-- HEADER-->
    <div th:replace="fragments/header :: header"></div>

    <!-- CONTENT -->
    <div layout:fragment="content">
        <!-- Page Content -->
    </div>

    <!-- FOOTER -->
    <div th:replace="fragments/footer :: footer"></div>

    <!-- Core JavaScript Files -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.easing.min.js}"></script>
    <script th:src="@{/js/wow.min.js}"></script>
    <script th:src="@{/js/jquery.scrollTo.js}"></script>
    <script th:src="@{/js/jquery.appear.js}"></script>
    <script th:src="@{/js/stellar.js}"></script>
    <script th:src="@{/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/nivo-lightbox.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/captcha.js}"></script>
    <script th:src="@{/js/private/registration.js}"></script>

    <!-- Calendar scripts -->
    <script th:src="@{/packages/core/main.js}"></script>
    <script th:src="@{/packages/interaction/main.js}"></script>
    <script th:src="@{/packages/daygrid/main.js}"></script>
    <script th:src="@{/packages/timegrid/main.js}"></script>
    <script th:src="@{/packages/list/main.js}"></script>

    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
</body>
</html>