<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login Model">
    <meta name="author" content="Arkadiusz Michalik">

    <link rel="icon" type="image/jpg" href="img/logo-title.jpg"/>
    <title>Logowanie</title>

    <link th:href="@{/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/font-awesome-4.5.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="panel login-content">
        <div class="panel panel-primary login-panel">
            <div class="panel-heading">Login Form</div>
            <div class="panel-body">
                <form action="home" th:action="@{/login}" method="post">
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" name="username"
                               placeholder="Email"/> <span
                            class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" name="password"
                               placeholder="Password"/> <span
                            class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="remember-me"> Remember Me
                        </label>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-offset-8 col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat"
                                    th:text="#{label.login}">Zaloguj się
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div th:if="${param.error}"
                                 class="alert alert-danger alert-dismissable">
                                <p>
                                    <i class="icon fa fa-ban"></i> <span
                                        th:text="#{error.login_failed}">Invalid Email and Password.</span>
                                </p>
                            </div>
                            <div th:if="${param.logout}"
                                 class="alert alert-info alert-dismissable">
                                <p>
                                    <i class="icon fa fa-info"></i> <span
                                        th:text="#{info.logout_success}">You have been logged out.</span>
                                </p>
                            </div>
                            <div th:if="${msg!=null}"
                                 class="alert alert-warning alert-dismissable">
                                <p>
                                    <i class="icon fa fa-warning"></i> <span th:text="${msg}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>